# Node / Next
node_modules/
.next/
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Env & tools
.env
.env.local
.env.*.local
.vercel/
.DS_Store

# Editors
.vscode/
.idea/
